* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

.container {
    margin: auto;
    max-width: 1110px;
    overflow: auto;
    padding: 0 20px;
}

.logo {
    display: inline-block;
    float: left;
    color: white;

}


#navbar {
    overflow: auto;
    background: #333;
    color: #fff;
}


#navbar a {
    color: #fff;
}

#navbar h1 {
    padding-top: 20px;
    float: left;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}


#showcase {
    background: url("../image/showcase.jpg") no-repeat center;
    display: block;
    background-size: cover;
    height: 600px;

}

#showcase .container{
    height: 700px;
}

.text-primary
{
    color: #f7c08a;
}
.showcase-content
{
    margin-top: 200px;
    text-align: center;
    color: white;
}
.showcase-content .btn
{
    border: 1px solid black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.showcase-content h1
{
    font-size: 60px;
}
.showcase-content .lead
{
    font-size: 20px;
    padding: 15px;
}


#home-info {
    height: 400px;
}

#home-info .info-img {
    background: url("../image/photo-1.jpg") no-repeat;
    float: left;
    min-height: 100%;
    width: 50%;
    display: inline-block;
}

#home-info .info-content {
    float: right;
    width: 50%;
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}

.clr {
    clear: both;
}
